<!DOCTYPE html>
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js")
        script(src="https://code.jquery.com/jquery-3.3.1.js")
        - var root = "/practices/isara/"
        - var rootURI = "/isara/"
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.1/css/all.css")
        link(rel="stylesheet", href=root+"dest/css/root.css")
        link(rel="stylesheet", href=root+"dest/css/header.css")
        link(rel="stylesheet", href=root+"dest/css/section.css")
        link(rel="stylesheet", href=root+"dest/css/footer.css")
        link(rel="stylesheet", href=root+"dest/css/test.css")
        title Practice - isara
    body
        nav
            #pagetop
                i.fa.fa-chevron-up(aria-hidden="true")
        header
            .header__container
                #logo
                    .container
                        #subtitle バンコクのノマドエンジニア育成講座
                        #title
                            img(src="https://isara.life/wp-content/themes/isara_v2/img/isaralogo.png")
                #request
                    .container
                        button.request__button.sm
                            .content
                                img(src="https://isara.life/wp-content/themes/isara_v2/img/form.png")
                                
                                p 資料請求
                        button.request__button.lg
                            .content
                                p お問い合わせ/資料請求はこちら
        include sections/top.pug
        include sections/request.pug
        include sections/introduction.pug
        include sections/about_us.pug
        include sections/steps.pug
        include sections/what_to_learn.pug
        include sections/merits.pug
        include sections/members.pug
        include sections/q_and_a.pug
        include sections/learning_contents.pug
        include sections/how_to_learn.pug
        include sections/why_bangkok.pug
        include sections/campaign.pug
        include sections/not_volunteer.pug
        include sections/message.pug
        include sections/form.pug
        include sections/questions.pug
        include sections/footer.pug
        script.
            $(function() {
                $('#pagetop').on(click, function() {
                    scrollTo(0,0);
                })
            })
