extends _layout.pug
block body
    section#top__img
        img(src="https://placehold.it/2000x1000")
    section
        p.
            Writeは文章を書く人のためのミニマルなWordPressテーマです。
            装飾を極限まで省いたデザインは、あなたの文章を主役にします。
    section
        ul.article__list
            for article in articleList
                li.article__list__item
                    .date #{article.date}
                    .article
                        h3.article__title
                            a #{article.title}
                        p.article__summary #{article.summary}
    section
        .pager__container
            ul
                if prevPage != 0
                    li 
                        - var uri = "/" + prevPage
                        a(href=uri) 前へ
                for page in pageList
                    if page == currentPage
                        li.pager__current
                            a #{page}
                    else
                        li
                            -var uri = "/" + page
                            a(href=uri) #{page}
                if nextPage != 0
                    li 
                        - var uri = "/" + nextPage
                        a(href=uri) 次へ